body
	{
		background:#F2DBAE; /*#ddeeff #BF532C #995544*/
		margin:0;
	}
.page_title
	{
		text-align:center;
		font-size:35px;
	}
#top_menu
	{
		height:40px;
		margin:0px;
		background:#BF532C;
		color: #fff;
	}
#menu_button
	{
		position:absolute;
		top:0px;
		left:0px;
		border:1px solid #fff;
		padding:5px 10px;
		width:50px;
		height:20px;
		margin:4px 10px;
		text-align:center;
	}
#select_firm
	{
		position:absolute;
		top:0px;
		right:45%;
		height:20px;
		margin:5px;
	}
#select_box
	{
		width:340px;
	}
#login
	{
		position:absolute;
		top:0px;
		right:0px;
		height:20px;
		margin:10px;
	}
#exit_button
	{
		display:inline;
		border:1px solid #fff;
		padding:5px 10px;
		width:50px;
		text-align:center;
	}
.button
	{
		width:200px;
		border:1px solid #993300;
		text-align:center;
		background:#BF532C;
		padding:5px 0px;
		cursor:pointer;
		margin:10px;
		border-radius:5px;
		color:#ffffff;
		font-weight:bold;
	}
.button:hover
	{
		background:#dd7744;
	}
#author_pos
	{
		margin:auto;
		width:100%;
	}
#author
	{
		margin:50px auto;
		width:340px;
		border:1px solid #993300;
		border-radius:5px;
		padding:10px;
		background:#BF532C;
	}
#author table
	{
		text-align:center;
		color:#ffffff;
		margin:auto;
	}
#author table a
	{
		color:#ffffff;
	}
.error
	{
		border:2px solid #ff6600;
		color:#ff6600;
		text-align:center;
		padding:5px;
		font-weight:bold;
		background:#ffffff;
	}
@media print {
	.top_menu
		{
			display:none;
		}
}
