body
	{
		background:#F2DBAE; /*#ddeeff #BF532C #995544*/
		margin:0;
	}
.page_title
	{
		text-align:center;
		font-size:35px;
	}
#top_menu
	{
		height:40px;
		margin:0px;
		border:1px solid black;
		line-height:40px;
		vertical-align:middle;
	}
#top_menu div
	{
		display: inline;
		margin-right: 5px;
		border: 1px solid #000;
		padding: 3px;
	}
.button
	{
		width:200px;
		border:1px solid #993300;
		text-align:center;
		background:#BF532C;
		padding:5px 0px;
		cursor:pointer;
		margin:10px;
		border-radius:5px;
		color:#ffffff;
		font-weight:bold;
	}
.button:hover
	{
		background:#dd7744;
	}
#author_pos
	{
		margin:auto;
		width:100%;
	}
#author
	{
		margin:50px auto;
		width:340px;
		border:1px solid #993300;
		border-radius:5px;
		padding:10px;
		background:#BF532C;
	}
#author table
	{
		text-align:center;
		color:#ffffff;
		margin:auto;
	}
#author table a
	{
		color:#ffffff;
	}
.error
	{
		border:2px solid #ff6600;
		color:#ff6600;
		text-align:center;
		padding:5px;
		font-weight:bold;
		background:#ffffff;
	}
@media print {
	.top_menu
		{
			display:none;
		}
}
